@model IEnumerable<PPCRental.Models.CONTACT>
@using PPCRental.Models;
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
    PPCEntities db = new PPCEntities();
}

<link href="~/Content/animatecontact.css" rel="stylesheet" />
<link href="~/Content/contactstyle.css" rel="stylesheet" />

<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">

            <div class="col-md-5">

            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container" id="contact">
        <section>
            <div class="row">
                <div class="col-md-12">
                    <section>
                        <div class="heading">
                            <h2>We are here to help you</h2>
                        </div>

                    </section>
                </div>
            </div>
        </section>

        <section id="sec1">
            <div class="row">
                @foreach (var item in db.CONTACTs)
                {
                    <div class="col-md-4">
                        <div class="box-simple">
                            <div class="icon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <h3>Address</h3>
                            <p>
                                @item.Address_Contact
                            </p>
                        </div>
                        <!-- /.box-simple -->
                    </div>

                    <div class="col-md-4">
                        <div class="box-simple">
                            <div class="icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <h3>Hot Line</h3>
                            <p>
                                Manger: @item.Phone_Contact.
                                <br>Service:  @item.Phone_Contact.
                            </p>
                        </div>
                        <!-- /.box-simple -->
                    </div>
                    <div class="col-md-4">
                        <div class="box-simple">
                            <div class="icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <h3>Support</h3>
                            <ul class="list-style-none">
                                <p> Please send me your comment, we will response you as quickly as possible.</p>
                                <li>
                                    <strong><a href="mailto:">@item.Email_Contact</a></strong>
                                </li>
                            </ul>
                        </div>
                        <!-- /.box-simple -->
                    </div>
                }
            </div>
        </section>

        <section id="sec2" data-ajax="nam">
            <div class="row text-center row-f-contact">
                <div class="col-md-12">
                    <div class="heading">
                        <h2>Contact form</h2>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    @if (ViewBag != null)
                    {
                        <form action="@Url.Action("Contact","Contact")" method="post">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="firstname">Name</label>
                                        <input type="text" class="form-control" id="firstname" name="name" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lastname">Phone</label>
                                        <input type="text" class="form-control" id="lastname" name="phone" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="text" class="form-control" id="email" name="email" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="subject">Subject</label>
                                        <input type="text" class="form-control" id="subject" name="subject" required>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="message">Message</label>
                                        <textarea id="message" class="form-control" rows="5" name="message" required></textarea>
                                    </div>
                                </div>
                                <h3 style="color:red;">@ViewBag.Error</h3>
                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn-template-main"><i class="fa fa-envelope-o"></i>&nbsp;Send&nbsp;message</button>
                                </div>
                            </div>
                            <!-- /.row -->
                        </form>
                    }
                </div>
            </div>
            <!-- /.row -->
        </section>
    </div>
    <!-- /#contact.container -->
</div>

<div id="map"></div>

<script type="text/javascript">
    function GoogleMaps() {
        var vitri = { lat: 10.802006, lng: 106.592242 };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: vitri
        });
        var marker = new google.maps.Marker({
            position: vitri,
            map: map
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtTijdOrawSLXkwdTOT1MKXE7Y0-pVcFI&callback=GoogleMaps">
</script>

